html, body {
    background-color: #303030;
    height:100%;
    color: #f7f7f7;
}

header {
    padding-top: 15px;
    padding-bottom: 15px;
}
#header-wrapper {background-color: #242424;}

#navbar {margin-bottom: 0px;}
#login-modal, #registration-modal {color: black;}

#content {
    height: 100%;
    padding-bottom: 60px;  /* Height of the footer element */
}

footer {
    position:absolute;
    bottom:0;
    left:0;
    width: 100%;
    height:60px;
    line-height: 40px;
    text-align: center;
    background-color: #242424;
    border-top: 1px solid #676461;
}

#wrapper {
    min-height:100%;
    position:relative;
}


/*--FOR GAME SECTIONS--*/
#section-logo {
    display:block;
    padding: 20px 0;
    margin: 0 auto;
    max-width:100%;
    max-height:100%;
}
.match-row {
    margin-top:30px;
    padding-bottom:30px;
    border-bottom: 1px solid #676461;
}
.match-block {

    margin-bottom: 10px;
    background-color: #242424;
    border-radius: 10px;
    border: 3px solid #676461;
    text-align: center;
}
.match-header {
    font-weight:bold;
    border-bottom: 1px solid #676461;
    line-height: 20px;
}
.match-logos {
    height: 110px;
    padding: 10px 0;
    margin-bottom: 10px;
    border-bottom: 1px solid #676461;
}
.team-logo {width: 80px;}
.versus {width:30px;}


/*--FOR ACCOUNT PAGE--*/
.form-style-1 {
    position: relative;
    top: 0px;
    max-width: 400px;
    padding: 20px 12px 10px 20px;
    font: 18px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    
}
.form-style-1 li {
    padding: 0;
    display: block;
    list-style: none;
    margin: 0px 0 0 0;
}
.form-style-1 label{
    margin:0 0 3px 0;
    padding:0px;
    display:block;
    font-weight: bold;
    color: #BC4400;
}
.form-style-1 input[type=text], 
.form-style-1 input[type=email],
.form-style-1 input[type=password],
 

.form-style-1 input[type=text]:focus, 
.form-style-1 input[type=email]:focus,
.form-style-1 textarea:focus, 
.form-style-1 select:focus{
    -moz-box-shadow: 0 0 8px #BC4400;
    -webkit-box-shadow: 0 0 8px #BC4400;
    box-shadow: 0 0 8px #BC4400;
    border: 1px solid #BC4400;
}
.form-style-1 .field-divided{
    width: 49%;
}

.form-style-1 .field-long{
    width: 100%;
}
.form-style-1 input[type=submit], .form-style-1 input[type=button]{
    background: #BC4400;
    padding: 8px 15px 8px 15px;
    border: none;
    color: #fff;
}
.form-style-1 input[type=submit]:hover, .form-style-1 input[type=button]:hover{
    background: #E46C28;
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
}
.form-style-1 .required{
    color:red;
}
.account-style h2 {
	margin: 10px;
	margin-left: 20px;
}
.account-style ul {
	list-style-type: none;
	width: 500px;
}
.account-style h3 {
	font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
}
.account-style li img {
	float: left;
	margin: 0 15px 0 0;
}
.account-style li p {
	font: 200 12px/1.5 Gerogia, Times New Roman, serif;
}
.account-style li {
	padding: 10px;
	overflow: auto;
}
.account-style li:hover {
	background: #c8c5b7;
	cursor: pointer;
}	

.footer-images {
    margin: auto;
    display: block;
    position: absolute;
    bottom: 0;
}
.footer-images .copyright {
    text-align: center;
}

.jumbotron {
    background-image: url();
    background-size: cover;
    height: 500px;
    color:#f7f7f7;
    margin-bottom: 30px;
}
.jumbotron h1 {
    font-weight: bold;
}
.jumbotron a {
    color: #00b0ff;
    font-size: 20px;
    font-weight: bold;
}


